<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boaventura 15700</title>
</head>
<body>
    <div class="container">
        <div class="logo"></div>
        <div class="contato">
            <div class="contact">
                <div class="row"><a class="icon whatsapp" target="_blank"></a><div class="text">{{contato.whatsapp}}</div></div>
                <div class="row"><a class="icon mail" href="mailto:contato@boaventura15700" target="_blank"></a><div class="text">{{contato.email}}</div></div>
                <div class="row"><a class="icon address" href="#"></a><div class="text">{{contato.endereco}}</div></div>
            </div>
        </div>
        <div class="cnpj">
            <div class="infos">{{cnpj.mdb}}</div>
            <div class="infos">{{cnpj.propaganda}}</div>
        </div>
        <div class="newsletter">
            <div class="assine">{{newsletter.titulo}}</div>
            <div class="qr"></div>
        </div>
    </div>
</body>
</html>
